<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
	
	<!-- css files -->
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="css/style.css" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="css/fontawesome-all.css" rel="stylesheet" /><!-- fontawesome css -->
	<!-- //css files -->
	
	<!-- google fonts -->
	<link href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<!-- //google fonts -->
	
</head>
<body>

<!-- header -->
<header>
	<div class="container">
		<!-- top nav -->
		<nav class="top_nav d-flex pt-4">
			<!-- logo -->
			<h1>
				<a class="navbar-brand" href="index.html">Interior Decor
				</a>
			</h1>
			<!-- //logo -->
			<div class="w3ls_right_nav ml-auto d-flex">
				<!-- search form -->
				<form class="nav-search form-inline my-0 form-control" action="#" method="post">
					<input class="form-control" type="search" placeholder="Search" aria-label="Search" required="">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
				<!-- search form -->
				<div class="nav-icon d-flex">
					<!-- sigin and sign up -->
					<a class="text-white login_btn align-self-center mx-md-3" href="#myModal_btn" data-toggle="modal" data-target="#myModal_btn">
						<i class="far fa-user"></i>
					</a>
					<!-- sigin and sign up -->
				</div>
			</div>
		</nav>
		<!-- //top nav -->
		<!-- bottom nav -->
		<nav class="navbar navbar-expand-lg navbar-light justify-content-center">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mx-auto text-center">
					<li class="nav-item">
						<a class="nav-link  active" href="index.html">Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link scroll" href="#about">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link scroll" href="#furniture">Furniture</a>
					</li>
					<li class="nav-item">
						<a class="nav-link scroll" href="#pricing">Pricing</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="products.html">Products Page</a>
					</li>
					<li class="nav-item">
						<a class="nav-link scroll" href="#team">Team</a>
					</li>
					<li class="nav-item">
						<a class="nav-link scroll" href="#contact">Contact</a>
					</li>
				</ul>
			</div>
		</nav>
		<!-- //bottom nav -->
	</div>
	<!-- //header container -->
</header>
<!-- //header -->

<!-- banner -->
<div class="banner layer" id="home">
	<div class="container">
		<div class="banner-text">
			<div class="slider-info text-center">
				<div class="agileinfo-logo">
					<h2> Interior Technology </h2>
				</div>
				<h3 class="txt-w3_agile"> Decorating Ideas for your House</h3>
			</div>
			<div class="row banner-grids text-center mt-md-5 mt-3">
				<div class="col-lg-3 col-md-2">
					<img src="images/bathing.png" class="img-fluid" alt="" />
				</div>
				<div class="col-lg-6 col-md-8 banner-para">
					<p class="">Donec malesuada ex sit amet pretium sid ornare. Nulla congue scelerisque tellus, utpretium nulla malesuada sedint.
					Suspendisse venenatis</p>
					<a href="#myModal_btn1" data-toggle="modal" data-target="#myModal_btn1">Read More</a>
				</div>
				<div class="col-lg-3 col-md-2">
					<img src="images/chair.png" class="img-fluid" alt="" />
				</div>
			</div>
			<div class="thim-click-to-bottom text-center">
				<div class="rotate">
					<a href="#about" class="scroll">
					   <i class="fas fa-angle-double-down"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //banner -->

<!-- banner bottom -->
<section class="banner-bottom py-5" id="about">
	<div class="container py-md-5">
		<div class="row bottom-grids text-center">
			<div class="col-md-4 bottom-grid">
				<span class="fab clr1 fa-accusoft"></span>
				<p class="number">1</p>
				<h4>Interior Design</h4>
				<p class="mt-4">Donec malesuada ex sit amet pretium sid ornare. Nulla congue scelerisque tellus, utpretium nulla malesuada sedint.
				Suspendisse venenatis</p>
			</div>
			<div class="col-md-4 mt-md-0 mt-5 bottom-grid">
				<span class="fab clr2 fa-android"></span>
				<p class="number">2</p>
				<h4>Quality Material</h4>
				<p class="mt-4">Donec malesuada ex sit amet pretium sid ornare. Nulla congue scelerisque tellus, utpretium nulla malesuada sedint.
				Suspendisse venenatis</p>
			</div>
			<div class="col-md-4 mt-md-0 mt-5 bottom-grid">
				<span class="fab clr3 fa-audible"></span>
				<p class="number">3</p>
				<h4>Home Furniture</h4>
				<p class="mt-4">Donec malesuada ex sit amet pretium sid ornare. Nulla congue scelerisque tellus, utpretium nulla malesuada sedint.
				Suspendisse venenatis</p>
			</div>
			<span class="border-line"></span>
		</div>
	</div>
</section>
<!-- //banner bottom -->

<!-- slider -->
<section class="slider">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 slider-left-img p-0">
				<img src="images/slider.jpg" class="img-fluid" alt="" />
			</div>
			<div class="col-lg-6">
				<div class="callbacks_container">
					<ul class="rslides" id="slider3">
						<li>
							<div class="testi-pos">
								<h4>Interior Technology Comes With</h4>
							</div>
							<div class="testi-agile">
								<p>
									Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Nulla
									quis lorem ut libero malesuada feugiat.Nulla quis lorem ut libero malesuada feugiat.
									Donec rutrum congue leo eget malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing
									elit utpretium nulla malesuada sedint. Suspendisse venenatis.
								</p>
								<a href="#">Read More</a>
							</div>
						</li>
						<li>
							<div class="testi-pos">
								<h4>Quality Management Design Is</h4>
							</div>
							<div class="testi-agile">
								<p>
									Donec rutrum congue leo eget consectetur sed, convallis at tellus. Nulla quis
									lorem ut libero malesuada feugiat.Nulla quis lorem ut libero malesuada feugiat. Donec
									rutrum congue leo eget malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing
									elit utpretium nulla malesuada sedint. Suspendisse venenatis.
								</p>
								<a href="#">Read More</a>
							</div>
						</li>
						<li>
							<div class="testi-pos">
								<h4>Interior Decoration design for</h4>
							</div>
							<div class="testi-agile">
								<p>
									Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Nulla
									quis lorem ut libero malesuada feugiat.Nulla quis lorem ut libero malesuada feugiat.
									Donec rutrum congue leo eget malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing
									elit utpretium nulla malesuada sedint. Suspendisse venenatis.
								</p>
								<a href="#">Read More</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //slider -->

<!-- services -->
<section class="services py-5" id="furniture">
	<div class="container py-lg-5">
		<h3 class="heading mb-5 text-center">Our Furniture</h3>
		<div class="row product-grids">
			<div class="col-lg-8">
				<div class="row bg-light p-md-5 p-3">
					<div class="col-md-4 p-0">
						<img src="images/s2.png" class="mt-4 img-fluid" alt="" />
					</div>
					<div class="col-md-8 pl-4">
						<h6>Featured Product</h6>
						<h4 class="p1">Product Name</h4>
						<h5>$210</h5>
						<p class="mt-4">Donec malesuada ex sit amet pretium sid ornare. Nulla congue scelerisque tellus, utpretium nulla malesuada sedint.
						Suspendisse venenatis</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
				<div class="bg-light text-center">
					<img src="images/s1.png" class="img-fluid" alt="" />
					<h4 class="mb-1">Product Name</h4>
					<h5 class="pb-4">$210</h5>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6 mt-5">
				<div class="bg-light text-center">
					<img src="images/s4.png" class="img-fluid" alt="" />
					<h4 class="mb-1">Product Name</h4>
					<h5 class="pb-3">$210</h5>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6 mt-5">
				<div class="bg-light text-center">
					<img src="images/s3.png" class="img-fluid" alt="" />
					<h4 class="mb-1">Product Name</h4>
					<h5 class="pb-3">$210</h5>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6 mt-5">
				<div class="bg-light text-center">
					<img src="images/s5.png" class="img-fluid" alt="" />
					<h4 class="mb-1">Product Name</h4>
					<h5 class="pb-3">$210</h5>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //services -->

<!--pricing -->
<section class="pricing bg-light py-5 " id="pricing">
	<div class="container py-lg-3">
		<div class="inner-sec">
			<h3 class="heading mb-5 text-center"> Pricing plans</h3>
			<div class="price-right">
				<div class="tabs">
					<ul class="nav nav-pills my-md-5 my-3 justify-content-center" id="pills-tab" role="tablist">
						<li class="nav-item border-style1">
							<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Weekly</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Monthly</a>
						</li>
						<li class="nav-item border-style2">
							<a class="nav-link" id="pills-annual-tab" data-toggle="pill" href="#pills-annual" role="tab" aria-controls="pills-annual" aria-selected="false">Yearly</a>
						</li>
					</ul>
					<div class="tab-content" id="pills-tabContent">
						<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
							<div class="menu-grids">
								<div class="row t-in">
									<div class="col-md-4 price-main-info px-lg-3 px-1">
										<div class="price-inner card box-shadow text-center">
											<div class="pricing price-clr1">
												<h4 class="">Basic</h4>
												<h5 class="card-title pricing-card-title">
													<span class=""></span>$ 125
												</h5>
											</div>
											<p>Donec malesuada ex sit amet pretium sid ornare. Nulla congue scelerisque tellus,
											utpretium.</p>
											<ul class="list-unstyled my-4">
												<li><i class="fas mr-1 fa-align-left"></i> Reusable Material</li>
												<li><i class="fas mr-1 fa-align-left"></i> High Quality</li>
											</ul>
											<div class="log-in mt-md-3 mt-2">
												<a class="btn scroll price-clr1" href="#contact">Select</a>
											</div>
										</div>
									</div>
									<div class="col-md-4 mt-md-0 mt-4 price-main-info px-lg-3 px-1">
										<div class="price-inner card box-shadow text-center">
											<div class="pricing price-clr2">
												<h4 class="">Basic</h4>
												<h5 class="card-title pricing-card-title">
													<span class=""></span>$ 125
												</h5>
											</div>
											<p>Donec malesuada ex sit amet pretium sid ornare. Nulla congue scelerisque tellus,
											utpretium.</p>
											<ul class="list-unstyled my-4">
												<li><i class="fas mr-1 fa-align-left"></i> Reusable Material</li>
												<li><i class="fas mr-1 fa-align-left"></i> High Quality</li>
											</ul>
											<div class="log-in mt-md-3 mt-2">
												<a class="btn scroll price-clr2" href="#contact">Select</a>
											</div>
										</div>
									</div>
									<div class="col-md-4 mt-md-0 mt-4 price-main-info px-lg-3 px-1">
										<div class="price-inner card box-shadow text-center">
											<div class="pricing price-clr3">
												<h4 class="">Basic</h4>
												<h5 class="card-title pricing-card-title">
													<span class=""></span>$ 125
												</h5>
											</div>
											<p>Donec malesuada ex sit amet pretium sid ornare. Nulla congue scelerisque tellus,
											utpretium.</p>
											<ul class="list-unstyled my-4">
												<li><i class="fas mr-1 fa-align-left"></i> Reusable Material</li>
												<li><i class="fas mr-1 fa-align-left"></i> High Quality</li>
											</ul>
											<div class="log-in mt-md-3 mt-2">
												<a class="btn scroll price-clr3" href="#contact">Select</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tlinks">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>
						<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
							<div class="menu-grids">
								<div class="row t-in">
									<div class="col-md-4 price-main-info px-lg-3 px-1">
										<div class="price-inner card box-shadow text-center">
											<div class="pricing price-clr4">
												<h4 class="">Basic</h4>
												<h5 class="card-title pricing-card-title">
													<span class=""></span>$ 125
												</h5>
											</div>
											<p>Donec malesuada ex sit amet pretium sid ornare. Nulla congue scelerisque tellus,
											utpretium.</p>
											<ul class="list-unstyled my-4">
												<li><i class="fas mr-1 fa-align-left"></i> Reusable Material</li>
												<li><i class="fas mr-1 fa-align-left"></i> High Quality</li>
											</ul>
											<div class="log-in mt-md-3 mt-2">
												<a class="btn scroll price-clr4" href="#contact">Select</a>
											</div>
										</div>
									</div>
									<div class="col-md-4 mt-md-0 mt-4 price-main-info px-lg-3 px-1">
										<div class="price-inner card box-shadow text-center">
											<div class="pricing price-clr5">
												<h4 class="">Basic</h4>
												<h5 class="card-title pricing-card-title">
													<span class=""></span>$ 125
												</h5>
											</div>
											<p>Donec malesuada ex sit amet pretium sid ornare. Nulla congue scelerisque tellus,
											utpretium.</p>
											<ul class="list-unstyled my-4">
												<li><i class="fas mr-1 fa-align-left"></i> Reusable Material</li>
												<li><i class="fas mr-1 fa-align-left"></i> High Quality</li>
											</ul>
											<div class="log-in mt-md-3 mt-2">
												<a class="btn scroll price-clr5" href="#contact">Select</a>
											</div>
										</div>
									</div>
									<div class="col-md-4 mt-md-0 mt-4 price-main-info px-lg-3 px-1">
										<div class="price-inner card box-shadow text-center">
											<div class="pricing price-clr6">
												<h4 class="">Basic</h4>
												<h5 class="card-title pricing-card-title">
													<span class=""></span>$ 125
												</h5>
											</div>
											<p>Donec malesuada ex sit amet pretium sid ornare. Nulla congue scelerisque tellus,
											utpretium.</p>
											<ul class="list-unstyled my-4">
												<li><i class="fas mr-1 fa-align-left"></i> Reusable Material</li>
												<li><i class="fas mr-1 fa-align-left"></i> High Quality</li>
											</ul>
											<div class="log-in mt-md-3 mt-2">
												<a class="btn scroll price-clr6" href="#contact">Select</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade show" id="pills-annual" role="tabpanel" aria-labelledby="pills-annual-tab">
							<div class="menu-grids">
								<div class="row t-in">
									<div class="col-md-4 price-main-info px-lg-3 px-1">
										<div class="price-inner card box-shadow text-center">
											<div class="pricing price-clr7">
												<h4 class="">Basic</h4>
												<h5 class="card-title pricing-card-title">
													<span class=""></span>$ 125
												</h5>
											</div>
											<p>Donec malesuada ex sit amet pretium sid ornare. Nulla congue scelerisque tellus,
											utpretium.</p>
											<ul class="list-unstyled my-4">
												<li><i class="fas mr-1 fa-align-left"></i> Reusable Material</li>
												<li><i class="fas mr-1 fa-align-left"></i> High Quality</li>
											</ul>
											<div class="log-in mt-md-3 mt-2">
												<a class="btn scroll price-clr7" href="#contact">Select</a>
											</div>
										</div>
									</div>
									<div class="col-md-4 mt-md-0 mt-4 price-main-info px-lg-3 px-1">
										<div class="price-inner card box-shadow text-center">
											<div class="pricing price-clr8">
												<h4 class="">Basic</h4>
												<h5 class="card-title pricing-card-title">
													<span class=""></span>$ 125
												</h5>
											</div>
											<p>Donec malesuada ex sit amet pretium sid ornare. Nulla congue scelerisque tellus,
											utpretium.</p>
											<ul class="list-unstyled my-4">
												<li><i class="fas mr-1 fa-align-left"></i> Reusable Material</li>
												<li><i class="fas mr-1 fa-align-left"></i> High Quality</li>
											</ul>
											<div class="log-in mt-md-3 mt-2">
												<a class="btn scroll price-clr8" href="#contact">Select</a>
											</div>
										</div>
									</div>
									<div class="col-md-4 mt-md-0 mt-4 price-main-info px-lg-3 px-1">
										<div class="price-inner card box-shadow text-center">
											<div class="pricing price-clr9">
												<h4 class="">Basic</h4>
												<h5 class="card-title pricing-card-title">
													<span class=""></span>$ 125
												</h5>
											</div>
											<p>Donec malesuada ex sit amet pretium sid ornare. Nulla congue scelerisque tellus,
											utpretium.</p>
											<ul class="list-unstyled my-4">
												<li><i class="fas mr-1 fa-align-left"></i> Reusable Material</li>
												<li><i class="fas mr-1 fa-align-left"></i> High Quality</li>
											</ul>
											<div class="log-in mt-md-3 mt-2">
												<a class="btn scroll price-clr9" href="#contact">Select</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- //pricing -->

<!-- tabs team-->
<section class="team py-md-5 py-3" id="team">
	<div class="container py-lg-5">
		<h3 class="heading mb-5 text-center"> Team Members</h3>
		<ul class="nav nav-pills mb-3" id="pills-tab1" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="pills-team1-tab" data-toggle="pill" href="#pills-team1" role="tab" aria-controls="pills-team1" aria-selected="true"><img src="images/team1.png" class="img-fluid" alt="" /></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="pills-team2-tab" data-toggle="pill" href="#pills-team2" role="tab" aria-controls="pills-team2" aria-selected="false"><img src="images/team2.png" class="img-fluid" alt="" /></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="pills-team3-tab" data-toggle="pill" href="#pills-team3" role="tab" aria-controls="pills-team3" aria-selected="false"><img src="images/team3.png" class="img-fluid" alt="" /></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="pills-team4-tab" data-toggle="pill" href="#pills-team4" role="tab" aria-controls="pills-team4" aria-selected="false"><img src="images/team4.png" class="img-fluid" alt="" /></a>
			</li>
		</ul>
		<div class="tab-content" id="pills-tabContent1">
			<div class="tab-pane fade show active" id="pills-team1" role="tabpanel" aria-labelledby="pills-team1-tab">
				<div class="team-grids row">
					<div class="col-md-6 margin">
						<img src="images/t1.png" class="img-fluid" alt="" />
					</div>
					<div class="col-md-6 team-margin">
						<h4>Alexander</h4>
						<h5>Wood engineer</h5>
						<p class="py-4">Donec malesuada ex sit amet pretium sid ornare. Nulla congue scelerisque tellus, utpretium. Mauris suscipit
						nisi ut ipsum egestas, et pellentesque velit convallis. Phasellus rhoncus tempus. </p>
						<p class="share"><span class="fas fa-share-alt"></span></p>
						<ul class="social">
							<li class="mr-1"><a href="#" class="facebook"><span class="fab fa-facebook-f"></span></a></li>
							<li class="mx-1"><a href="#" class="twitter"><span class="fab fa-twitter"></span></a></li>
							<li class="mx-1"><a href="#" class="google"><span class="fab fa-google-plus-g"></span></a></li>
							<li class="mx-1"><a href="#" class="linkedin"><span class="fab fa-linkedin-in"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="pills-team2" role="tabpanel" aria-labelledby="pills-team2-tab">
				<div class="team-grids row">
					<div class="col-md-6 margin">
						<img src="images/t2.png" class="img-fluid" alt="" />
					</div>
					<div class="col-md-6 team-margin">
						<h4>Alexander</h4>
						<h5>Wood engineer</h5>
						<p class="py-4">Donec malesuada ex sit amet pretium sid ornare. Nulla congue scelerisque tellus, utpretium. Mauris suscipit
						nisi ut ipsum egestas, et pellentesque velit convallis. Phasellus rhoncus tempus. </p>
						<p class="share"><span class="fas fa-share-alt"></span></p>
						<ul class="social">
							<li class="mr-1"><a href="#" class="facebook"><span class="fab fa-facebook-f"></span></a></li>
							<li class="mx-1"><a href="#" class="twitter"><span class="fab fa-twitter"></span></a></li>
							<li class="mx-1"><a href="#" class="google"><span class="fab fa-google-plus-g"></span></a></li>
							<li class="mx-1"><a href="#" class="linkedin"><span class="fab fa-linkedin-in"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="pills-team3" role="tabpanel" aria-labelledby="pills-team3-tab">
				<div class="team-grids row">
					<div class="col-md-6 margin">
						<img src="images/t3.png" class="img-fluid" alt="" />
					</div>
					<div class="col-md-6 team-margin">
						<h4>Alexander</h4>
						<h5>Wood engineer</h5>
						<p class="py-4">Donec malesuada ex sit amet pretium sid ornare. Nulla congue scelerisque tellus, utpretium. Mauris suscipit
						nisi ut ipsum egestas, et pellentesque velit convallis. Phasellus rhoncus tempus. </p>
						<p class="share"><span class="fas fa-share-alt"></span></p>
						<ul class="social">
							<li class="mr-1"><a href="#" class="facebook"><span class="fab fa-facebook-f"></span></a></li>
							<li class="mx-1"><a href="#" class="twitter"><span class="fab fa-twitter"></span></a></li>
							<li class="mx-1"><a href="#" class="google"><span class="fab fa-google-plus-g"></span></a></li>
							<li class="mx-1"><a href="#" class="linkedin"><span class="fab fa-linkedin-in"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="pills-team4" role="tabpanel" aria-labelledby="pills-team4-tab">
				<div class="team-grids row">
					<div class="col-md-6 margin">
						<img src="images/t4.png" class="img-fluid" alt="" />
					</div>
					<div class="col-md-6 team-margin">
						<h4>Alexander</h4>
						<h5>Wood engineer</h5>
						<p class="py-4">Donec malesuada ex sit amet pretium sid ornare. Nulla congue scelerisque tellus, utpretium. Mauris suscipit
						nisi ut ipsum egestas, et pellentesque velit convallis. Phasellus rhoncus tempus. </p>
						<p class="share"><span class="fas fa-share-alt"></span></p>
						<ul class="social">
							<li class="mr-1"><a href="#" class="facebook"><span class="fab fa-facebook-f"></span></a></li>
							<li class="mx-1"><a href="#" class="twitter"><span class="fab fa-twitter"></span></a></li>
							<li class="mx-1"><a href="#" class="google"><span class="fab fa-google-plus-g"></span></a></li>
							<li class="mx-1"><a href="#" class="linkedin"><span class="fab fa-linkedin-in"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //tabs team -->

<!-- map -->
<section class="agileits-w3layouts-map">
	<iframe src="" allowfullscreen=""></iframe>
</section>
<!-- //map -->

<!-- contact -->
<section class="contact py-5" id="contact">
	<div class="container py-md-3">
		<div class="row">
			<div class="col-lg-4">
				<h3 class="mb-4">Get in touch</h3>
				<p class="mb-4">Donec malesuada ex sit amet pretium sid ornare. Nulla congue scelerisque tellus, utpretium. Mauris suscipit nisi.</p>
				<h3 class="mb-4">Subscribe</h3>
				<form action="#" method="post" class="subscribe">
					<input type="email" name="Email" placeholder="Enter your email..." required="">
					<input type="submit" value="Subscribe">
				</form>
			</div>
			<div class="col-lg-8 agileinfo_mail_grid_right mt-lg-0 mt-5">
				<form action="#" method="post">
					<div class="row">
						<div class="col-md-6 wthree_contact_left_grid pr-md-0">
							<div class="form-group">
								<input type="text" name="name" class="form-control" placeholder="Name" required="">
							</div>
							<div class="form-group">
								<input type="email" name="email" class="form-control" placeholder="Email" required="">
							</div>
						</div>
						<div class="col-md-6 wthree_contact_left_grid">
							<div class="form-group">
								<input type="text" name="phone number" class="form-control" placeholder="Phone Number" required="">
							</div>
							<div class="form-group">
								<input type="text" name="subject" class="form-control" placeholder="Subject" required="">
							</div>
						</div>
					</div>
					<div class="form-group">
						<textarea name="message" placeholder="Message" class="form-control" required></textarea>
					</div>
					<div class="submit-buttons text-center">
						<input type="submit" value="Submit">
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<!-- //contact -->

<!-- footer -->
<footer class="py-5 bg-light">
	<div class="container py-md-3">
		<div class="row footer-grids">
			<div class="col-lg-3 col-md-6">
				<h4 class="mb-4">Contatc Us</h4>
				<p> <span class="fas mr-2 fa-map-marker"></span> 1234 block, Charlotte, North Carolina, United States</p>
				<p class="my-2"><span class="fas mr-2 fa-envelope-open"></span> <a href="mailto:info@example.com">info@example.com</a></p>
				<p><span class="fas mr-2 fa-phone-volume"></span> +12 534894364</p>
			</div>
			<div class="col-lg-3 mt-md-0 mt-5 col-md-6">
				<h4 class="mb-4">Company links</h4>
				<p><a href="#">Terms and Conditions</a></p>
				<p><a href="#">Privacy Policy</a></p>
				<p><a href="#">License Aggrement</a></p>
			</div>
			<div class="col-lg-6 mt-lg-0 mt-5 brands">
				<h4 class="mb-4">Our Partners</h4>
				<ul>
					<li><img src="images/brand1.png" class="img-fluid" alt="" /></li>
					<li><img src="images/brand2.png" class="img-fluid" alt="" /></li>
					<li><img src="images/brand3.png" class="img-fluid" alt="" /></li>
					<li><img src="images/brand4.png" class="img-fluid" alt="" /></li>
				</ul>
			</div>
		</div>
		<div class="text-center mt-5 pt-4 copyright">
			<p class="">Copyright &copy; 2018.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
		</p>
		</div>
	</div>
</footer>
<!-- //footer -->

<!-- sign up Modal -->
<div class="modal fade" id="myModal_btn" tabindex="-1" role="dialog" aria-labelledby="myModal_btn" aria-hidden="true">
	<div class="agilemodal-dialog modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Register Now</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body pt-3 pb-5 px-sm-5">
				<div class="row">
					<div class="col-md-6 mx-auto">
						<img src="images/t4.png" class="img-fluid" alt="login_image" />
						<p class="pt-5">Excepteur sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id erat eu ullamcorper. Nunc id ipsum fringilla,
						gravida felis vitae. Phasellus lacinia id, sunt in culpa quis.</p>
					</div>
					<div class="col-md-6">
						<form action="#" method="post">
							<div class="form-group">
								<label for="recipient-name1" class="col-form-label">Your Name</label>
								<input type="text" class="form-control" placeholder=" " name="Name" id="recipient-name1" required="">
							</div>
							<div class="form-group">
								<label for="recipient-email" class="col-form-label">Email</label>
								<input type="email" class="form-control" placeholder=" " name="Email" id="recipient-email" required="">
							</div>
							<div class="form-group">
								<label for="password1" class="col-form-label">Password</label>
								<input type="password" class="form-control" placeholder=" " name="Password" id="password1" required="">
							</div>
							<div class="form-group">
								<label for="password2" class="col-form-label">Confirm Password</label>
								<input type="password" class="form-control" placeholder=" " name="Confirm Password" id="password2" required="">
							</div>
							<div class="sub-w3l">
								<div class="sub-agile">
									<input type="checkbox" id="brand2" value="">
									<label for="brand2" class="mb-3">
										<span></span>I Accept to the Terms & Conditions</label>
								</div>
							</div>
							<div class="right-w3l">
								<input type="submit" class="form-control" value="Register">
							</div>
						</form>
						<p class="text-center mt-3">Already a member?
							<a href="#" data-toggle="modal" data-target="#exampleModal1" class="text-dark login_btn">
								Login Now</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //signup modal -->
<!-- signin Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModal1" aria-hidden="true">
	<div class="agilemodal-dialog modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Login</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body  pt-3 pb-5 px-sm-5">
				<div class="row">
					<div class="col-md-6">
						<img src="images/t3.png" class="img-fluid" alt="login_image" />
						<p class="pt-5">Excepteur sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id erat eu ullamcorper. Nunc id ipsum fringilla,
						gravida felis vitae. Phasellus lacinia id, sunt in culpa quis.</p>
					</div>
					<div class="col-md-6 align-self-center">
						<form action="#" method="post">
							<div class="form-group">
								<label for="recipient-name" class="col-form-label">Your Name</label>
								<input type="text" class="form-control" placeholder=" " name="Name" id="recipient-name" required="">
							</div>
							<div class="form-group">
								<label class="col-form-label">Password</label>
								<input type="password" class="form-control" placeholder=" " name="Password" required="">
							</div>
							<div class="right-w3l">
								<input type="submit" class="form-control" value="Login">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- signin Modal -->

<!-- Vertically centered Modal -->
    <div class="modal fade" id="myModal_btn1" tabindex="-1" role="dialog" aria-labelledby="myModal_btn1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-capitalize text-center" id="exampleModalLongTitle"> Interior Decor</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<img src="images/banner.jpg" class="img-fluid mb-3" alt="Modal Image">
				Vivamus eget est in odio tempor interdum. Mauris maximus fermentum arcu, ac finibus ante. Sed mattis risus at ipsum elementum,
				ut auctor turpis cursus. Sed sed odio pharetra, aliquet velit cursus, vehicula enim. Mauris porta aliquet magna, eget laoreet ligula.
				Sed mattis risus at ipsum elementum, ut auctor turpis cursus.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Save Changes</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- //Vertically centered Modal -->

    <!-- js -->
    <script src="js/jquery-2.2.3.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <!-- //js -->

	<!-- Responsiveslides -->
    <script src="js/responsiveslides.min.js"></script>
    <script>
        // You can also use"$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!-- // Responsiveslides -->

	<script src="js/smoothscroll.js"></script><!-- Smooth scrolling -->

    <!-- start-smoth-scrolling -->
    <script src="js/move-top.js"></script>
    <script src="js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            /*
			var defaults = {
				  containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			 };
			*/

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //end-smoth-scrolling -->

</body>
</html>