<!DOCTYPE html>
<html lang="en">
<head>
<title>Products</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
	
	<!-- css files -->
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="css/style.css" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="css/fontawesome-all.css" rel="stylesheet" /><!-- fontawesome css -->
	<!-- //css files -->
	
	<!-- google fonts -->
	<link href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<!-- //google fonts -->
	
</head>
<body>

<!-- header -->
<header>
	<div class="container">
		<!-- top nav -->
		<nav class="top_nav d-flex pt-4">
			<!-- logo -->
			<h1>
				<a class="navbar-brand" href="index.html">Interior Decor
				</a>
			</h1>
			<!-- //logo -->
			<div class="w3ls_right_nav ml-auto d-flex">
				<!-- search form -->
				<form class="nav-search form-inline my-0 form-control" action="#" method="post">
					<input class="form-control" type="search" placeholder="Search" aria-label="Search" required="">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
				<!-- search form -->
				<div class="nav-icon d-flex">
					<!-- sigin and sign up -->
					<a class="text-white login_btn align-self-center mx-md-3" href="#myModal_btn" data-toggle="modal" data-target="#myModal_btn">
						<i class="far fa-user"></i>
					</a>
					<!-- sigin and sign up -->
				</div>
			</div>
		</nav>
		<!-- //top nav -->
		<!-- bottom nav -->
		<nav class="navbar navbar-expand-lg navbar-light justify-content-center">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mx-auto text-center">
					<li class="nav-item">
						<a class="nav-link" href="index.html">Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="index.html">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="index.html">Furniture</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="index.html">Pricing</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="products.html">Products Page</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="index.html">Team</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="index.html">Contact</a>
					</li>
				</ul>
			</div>
		</nav>
		<!-- //bottom nav -->
	</div>
	<!-- //header container -->
</header>
<!-- //header -->

<!-- banner -->
<div class="inner_banner layer" id="home">
	<div class="container">
		<div class="banner-padding">
			<h2 class="text-center heading">Products Page</h2>
		</div>
	</div>
</div>
<!-- //banner -->

<!-- services -->
<section class="services py-5" id="furniture">
	<div class="container py-lg-3">
		<h3 class="heading mb-5 text-center">Our Furniture</h3>
		<div class="row product-grids">
			<div class="col-lg-8">
				<div class="row bg-light p-md-5 p-3">
					<div class="col-md-4 p-0">
						<img src="images/s2.png" class="mt-4 img-fluid" alt="" />
					</div>
					<div class="col-md-8 pl-4">
						<h6>Featured Product</h6>
						<h4 class="p1">Product Name</h4>
						<h5>$210</h5>
						<p class="mt-4">Donec malesuada ex sit amet pretium sid ornare. Nulla congue scelerisque tellus, utpretium nulla malesuada sedint.
						Suspendisse venenatis</p>
						<a href="single.html">Know More </a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
				<div class="bg-light text-center">
					<img src="images/s1.png" class="img-fluid" alt="" />
					<h4 class="mb-1">Product Name</h4>
					<h5>$210</h5>
					<a href="single.html" class="mb-4">Know More </a>
				</div>
			</div>
			
			<div class="col-lg-4 mt-5 col-md-6">
				<div class="bg-light text-center">
					<img src="images/s4.png" class="img-fluid" alt="" />
					<h4 class="mb-1">Product Name</h4>
					<h5>$210</h5>
					<a href="single.html" class="mb-4">Know More </a>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6 mt-5">
				<div class="bg-light text-center">
					<img src="images/s3.png" class="img-fluid" alt="" />
					<h4 class="mb-1">Product Name</h4>
					<h5>$210</h5>
					<a href="single.html" class="mb-4">Know More </a>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6 mt-5">
				<div class="bg-light text-center">
					<img src="images/s5.png" class="img-fluid" alt="" />
					<h4 class="mb-1">Product Name</h4>
					<h5>$210</h5>
					<a href="single.html" class="mb-4">Know More </a>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6 mt-5">
				<div class="bg-light text-center">
					<img src="images/s1.png" class="img-fluid" alt="" />
					<h4 class="mb-1">Product Name</h4>
					<h5>$210</h5>
					<a href="single.html" class="mb-4">Know More </a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mt-5">
				<div class="bg-light text-center">
					<img src="images/s4.png" class="img-fluid" alt="" />
					<h4 class="mb-1">Product Name</h4>
					<h5>$210</h5>
					<a href="single.html" class="mb-4">Know More </a>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6 mt-5">
				<div class="bg-light text-center">
					<img src="images/s3.png" class="img-fluid" alt="" />
					<h4 class="mb-1">Product Name</h4>
					<h5>$210</h5>
					<a href="single.html" class="mb-4">Know More </a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //services -->

<!-- footer -->
<footer class="py-5 bg-light">
	<div class="container py-md-3">
		<div class="row footer-grids">
			<div class="col-lg-3 col-md-6">
				<h4 class="mb-4">Contatc Us</h4>
				<p> <span class="fas mr-2 fa-map-marker"></span> 1234 block, Charlotte, North Carolina, United States</p>
				<p class="my-2"><span class="fas mr-2 fa-envelope-open"></span> <a href="mailto:info@example.com">info@example.com</a></p>
				<p><span class="fas mr-2 fa-phone-volume"></span> +12 534894364</p>
			</div>
			<div class="col-lg-3 mt-md-0 mt-5 col-md-6">
				<h4 class="mb-4">Company links</h4>
				<p><a href="#">Terms and Conditions</a></p>
				<p><a href="#">Privacy Policy</a></p>
				<p><a href="#">License Aggrement</a></p>
			</div>
			<div class="col-lg-6 mt-lg-0 mt-5 brands">
				<h4 class="mb-4">Our Partners</h4>
				<ul>
					<li><img src="images/brand1.png" class="img-fluid" alt="" /></li>
					<li><img src="images/brand2.png" class="img-fluid" alt="" /></li>
					<li><img src="images/brand3.png" class="img-fluid" alt="" /></li>
					<li><img src="images/brand4.png" class="img-fluid" alt="" /></li>
				</ul>
			</div>
		</div>
		<div class="text-center mt-5 pt-4 copyright">
			<p class="">Copyright &copy; 2018.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
		</p>
		</div>
	</div>
</footer>
<!-- //footer -->

<!-- sign up Modal -->
<div class="modal fade" id="myModal_btn" tabindex="-1" role="dialog" aria-labelledby="myModal_btn" aria-hidden="true">
	<div class="agilemodal-dialog modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Register Now</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body pt-3 pb-5 px-sm-5">
				<div class="row">
					<div class="col-md-6 mx-auto">
						<img src="images/t4.png" class="img-fluid" alt="login_image" />
						<p class="pt-5">Excepteur sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id erat eu ullamcorper. Nunc id ipsum fringilla,
						gravida felis vitae. Phasellus lacinia id, sunt in culpa quis.</p>
					</div>
					<div class="col-md-6">
						<form action="#" method="post">
							<div class="form-group">
								<label for="recipient-name1" class="col-form-label">Your Name</label>
								<input type="text" class="form-control" placeholder=" " name="Name" id="recipient-name1" required="">
							</div>
							<div class="form-group">
								<label for="recipient-email" class="col-form-label">Email</label>
								<input type="email" class="form-control" placeholder=" " name="Email" id="recipient-email" required="">
							</div>
							<div class="form-group">
								<label for="password1" class="col-form-label">Password</label>
								<input type="password" class="form-control" placeholder=" " name="Password" id="password1" required="">
							</div>
							<div class="form-group">
								<label for="password2" class="col-form-label">Confirm Password</label>
								<input type="password" class="form-control" placeholder=" " name="Confirm Password" id="password2" required="">
							</div>
							<div class="sub-w3l">
								<div class="sub-agile">
									<input type="checkbox" id="brand2" value="">
									<label for="brand2" class="mb-3">
										<span></span>I Accept to the Terms & Conditions</label>
								</div>
							</div>
							<div class="right-w3l">
								<input type="submit" class="form-control" value="Register">
							</div>
						</form>
						<p class="text-center mt-3">Already a member?
							<a href="#" data-toggle="modal" data-target="#exampleModal1" class="text-dark login_btn">
								Login Now</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //signup modal -->
<!-- signin Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModal1" aria-hidden="true">
	<div class="agilemodal-dialog modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Login</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body  pt-3 pb-5 px-sm-5">
				<div class="row">
					<div class="col-md-6">
						<img src="images/t3.png" class="img-fluid" alt="login_image" />
						<p class="pt-5">Excepteur sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id erat eu ullamcorper. Nunc id ipsum fringilla,
						gravida felis vitae. Phasellus lacinia id, sunt in culpa quis.</p>
					</div>
					<div class="col-md-6 align-self-center">
						<form action="#" method="post">
							<div class="form-group">
								<label for="recipient-name" class="col-form-label">Your Name</label>
								<input type="text" class="form-control" placeholder=" " name="Name" id="recipient-name" required="">
							</div>
							<div class="form-group">
								<label class="col-form-label">Password</label>
								<input type="password" class="form-control" placeholder=" " name="Password" required="">
							</div>
							<div class="right-w3l">
								<input type="submit" class="form-control" value="Login">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- signin Modal -->

    <!-- js -->
    <script src="js/jquery-2.2.3.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <!-- //js -->

	<script src="js/smoothscroll.js"></script><!-- Smooth scrolling -->

    <!-- start-smoth-scrolling -->
    <script src="js/move-top.js"></script>
    <script src="js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            /*
			var defaults = {
				  containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			 };
			*/

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //end-smoth-scrolling -->

</body>
</html>