<!DOCTYPE html>
<html lang="en">
<head>
<title>Single</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
	
	<!-- css files -->
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="css/style.css" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="css/fontawesome-all.css" rel="stylesheet" /><!-- fontawesome css -->
	<!-- //css files -->
	
	<!-- google fonts -->
	<link href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<!-- //google fonts -->
	
</head>
<body>

<!-- header -->
<header>
	<div class="container">
		<!-- top nav -->
		<nav class="top_nav d-flex pt-4">
			<!-- logo -->
			<h1>
				<a class="navbar-brand" href="index.html">Interior Decor
				</a>
			</h1>
			<!-- //logo -->
			<div class="w3ls_right_nav ml-auto d-flex">
				<!-- search form -->
				<form class="nav-search form-inline my-0 form-control" action="#" method="post">
					<input class="form-control" type="search" placeholder="Search" aria-label="Search" required="">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
				<!-- search form -->
				<div class="nav-icon d-flex">
					<!-- sigin and sign up -->
					<a class="text-white login_btn align-self-center mx-md-3" href="#myModal_btn" data-toggle="modal" data-target="#myModal_btn">
						<i class="far fa-user"></i>
					</a>
					<!-- sigin and sign up -->
				</div>
			</div>
		</nav>
		<!-- //top nav -->
		<!-- bottom nav -->
		<nav class="navbar navbar-expand-lg navbar-light justify-content-center">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mx-auto text-center">
					<li class="nav-item">
						<a class="nav-link" href="index.html">Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="index.html">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="index.html">Furniture</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="index.html">Pricing</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="products.html">Products Page</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="index.html">Team</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="index.html">Contact</a>
					</li>
				</ul>
			</div>
		</nav>
		<!-- //bottom nav -->
	</div>
	<!-- //header container -->
</header>
<!-- //header -->

<!-- banner -->
<div class="inner_banner layer" id="home">
	<div class="container">
		<div class="banner-padding">
			<h2 class="text-center heading">Single Page</h2>
		</div>
	</div>
</div>
<!-- //banner -->

<!-- single -->
<section class="bottom-banner-w3layouts py-5">
	<div class="container py-md-3">
		<h3 class="heading text-center mb-5">Product Detail </h3>
		<div class="row inner-sec-w3ls-agileinfo">
			<!--left-->
			<div class="col-lg-8 left-blog-info text-left">
					<div class="card">
						<a href="single.html">
							<img src="images/s2.png" class="card-img-top bg-light img-fluid rounded" alt="">
						</a>
						<div class="card-body">
							<ul class="blog-icons my-4">
								<li>
									<a href="#">
										<i class="far fa-calendar-alt"></i> Sep 25, 2018.</a>
								</li>
								<li class="mx-2">
									<a href="#">
										<i class="far fa-comment"></i> 21</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-eye"></i> 2000</a>
								</li>

							</ul>
							<h5 class="card-title ">
								<a href="single.html">Blog Post Title</a>
							</h5>
							<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt,Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore et dolore magna aliqua uta enim ad minim ven iam quis nostrud exercitation ullamco labor nisi ut aliquip exea commodo consequat duis aute irudre dolor in elit sed uta labore dolore reprehender.. </p>
							<div class="read inner mt-4">
								<a href="single.html" class="btn btn-sm animated-button victoria-two">Read More</a>
							</div>

						</div>
					</div>
					<div class="comment-top">
						<h4>Comments</h4>
						<div class="media">
							<img src="images/team1.png" alt="" class="img-fluid rounded">
							<div class="media-body">
								<h5 class="mt-0">Joseph Goh</h5>
								<p>Lorem Ipsum convallis diam consequat magna vulputate malesuada. id dignissim sapien velit id felis ac cursus eros.
									Cras a ornare elit.</p>

							</div>
						</div>
						<div class="media mt-3">
							<a class="d-flex pr-3" href="#">
								<img src="images/team2.png" alt="" class="img-fluid rounded">
							</a>
							<div class="media-body">
								<h5 class="mt-0">Richard Spark</h5>
								<p>Lorem Ipsum convallis diam consequat magna vulputate malesuada. id dignissim sapien velit id felis ac cursus eros.
									Cras a ornare elit.</p>
							</div>
						</div>
					</div>
					<div class="comment-top">
						<h4>Leave a Comment</h4>
						<div class="comment-bottom">
							<form action="#" method="post">
								<input class="form-control" type="text" name="Name" placeholder="Name" required="">
								<input class="form-control" type="email" name="Email" placeholder="Email" required="">

								<input class="form-control" type="text" name="Subject" placeholder="Subject" required="">

								<textarea class="form-control" name="Message" placeholder="Message..." required=""></textarea>
								<button type="submit" class="btn btn-primary submit">Submit</button>
							</form>
						</div>
					</div>

			</div>
			<!--//left-->
			<!--right-->
			<aside class="col-lg-4 right-blog-con text-left">
				<div class="right-blog-info text-left">
					<div class="tech-btm">
						<img src="images/slider.jpg" class="card-img-top img-fluid rounded" alt="">
					</div>
					<div class="tech-btm">
						<h4>Sign up to our newsletter</h4>
						<p>Pellentesque dui, non felis. Maecenas male </p>
						<form action="#" method="post">
							<input class="form-control" type="email" placeholder="Email" required="">
							<input class="form-control" type="submit" value="Subscribe">
						</form>

					</div>
					<div class="tech-btm">
						<h4>Categories</h4>
						<ul class="list-group single">
							<li class="list-group-item d-flex justify-content-between align-items-center">
								Cras justo odio
								<span class="badge badge-primary badge-pill">14</span>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center">
								Dapibus ac facilisis in
								<span class="badge badge-primary badge-pill">2</span>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center">
								Morbi leo risus
								<span class="badge badge-primary badge-pill">1</span>
							</li>
						</ul>
					</div>
					<div class="tech-btm">
						<h4>Top stories of the week</h4>

						<div class="blog-grids row mb-3">
							<div class="col-md-5 blog-grid-left">
								<a href="single.html">
									<img src="images/s1.jpg" class="card-img-top img-fluid rounded" alt="">
								</a>
							</div>
							<div class="col-md-7 blog-grid-right">

								<h5>
									<a href="single.html">Pellentesque dui, non felis. Maecenas male non felis </a>
								</h5>
								<div class="sub-meta">
									<span>
										<i class="far fa-clock"></i> 27 Aug, 2018</span>
								</div>
							</div>

						</div>
						<div class="blog-grids row mb-3">
							<div class="col-md-5 blog-grid-left">
								<a href="single.html">
									<img src="images/s1.jpg" class="card-img-top img-fluid rounded" alt="">
								</a>
							</div>
							<div class="col-md-7 blog-grid-right">
								<h5>
									<a href="single.html">Pellentesque dui, non felis. Maecenas male non felis </a>
								</h5>
								<div class="sub-meta">
									<span>
										<i class="far fa-clock"></i> 27 Aug, 2018</span>
								</div>
							</div>

						</div>
					</div>
					<div class="tech-btm widget_social text-left">
						<h4>Stay Connect</h4>
						<ul>

							<li>
								<a class="twitter" href="#">
									<i class="fab fa-twitter"></i>
									<span class="count">317K</span> Twitter Followers</a>
							</li>
							<li>
								<a class="facebook" href="#">
									<i class="fab fa-facebook-f"></i>
									<span class="count">218k</span> Facebook Followers</a>
							</li>
							<li>
								<a class="pin" href="#">
									<i class="fab fa-pinterest"></i>
									<span class="count">190k</span> Pinterest Followers</a>
							</li>

						</ul>
					</div>
					<div class="tech-btm">
						<h4>Recent Posts</h4>

						<div class="blog-grids row mb-3 text-left">
							<div class="col-md-5 blog-grid-left">
								<a href="single.html">
									<img src="images/s1.jpg" class="card-img-top img-fluid rounded" alt="">
								</a>
							</div>
							<div class="col-md-7 blog-grid-right">

								<h5>
									<a href="single.html">Pellentesque dui, non felis. Maecenas male non felis </a>
								</h5>
								<div class="sub-meta">
									<span>
										<i class="far fa-clock"></i> 27 Aug, 2018</span>
								</div>
							</div>

						</div>
						<div class="blog-grids row mb-3 text-left">
							<div class="col-md-5 blog-grid-left">
								<a href="single.html">
									<img src="images/s1.jpg" class="card-img-top img-fluid rounded" alt="">
								</a>
							</div>
							<div class="col-md-7 blog-grid-right">

								<h5>
									<a href="single.html">Pellentesque dui, non felis. Maecenas male non felis </a>
								</h5>
								<div class="sub-meta">
									<span>
										<i class="far fa-clock"></i> 27 Aug, 2018</span>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					
					<div class="tech-btm">
						<h4>Popular Tags</h4>
						<div class="tags">
							<a href="#" class="mr-1 mb-2">Interior </a>
							<a href="#" class="mr-1 mb-2">Technology </a>
							<a href="#" class="mr-1 mb-2">Post </a>
							<a href="#" class="mr-1 mb-2">Web </a>
							<a href="#" class="mr-1 mb-2">Products </a>
							<a href="#" class="mr-1 mb-2">Designing </a>
							<a href="#" class="mr-1 mb-2">Popular </a>
							<a href="#" class="mr-1 mb-2">Award </a>
						</div>
					</div>
				</div>
			</aside>
			<!--//right-->
		</div>
	</div>
</section>
<!-- //single -->

<!-- footer -->
<footer class="py-5 bg-light">
	<div class="container py-md-3">
		<div class="row footer-grids">
			<div class="col-lg-3 col-md-6">
				<h4 class="mb-4">Contatc Us</h4>
				<p> <span class="fas mr-2 fa-map-marker"></span> 1234 block, Charlotte, North Carolina, United States</p>
				<p class="my-2"><span class="fas mr-2 fa-envelope-open"></span> <a href="mailto:info@example.com">info@example.com</a></p>
				<p><span class="fas mr-2 fa-phone-volume"></span> +12 534894364</p>
			</div>
			<div class="col-lg-3 mt-md-0 mt-5 col-md-6">
				<h4 class="mb-4">Company links</h4>
				<p><a href="#">Terms and Conditions</a></p>
				<p><a href="#">Privacy Policy</a></p>
				<p><a href="#">License Aggrement</a></p>
			</div>
			<div class="col-lg-6 mt-lg-0 mt-5 brands">
				<h4 class="mb-4">Our Partners</h4>
				<ul>
					<li><img src="images/brand1.png" class="img-fluid" alt="" /></li>
					<li><img src="images/brand2.png" class="img-fluid" alt="" /></li>
					<li><img src="images/brand3.png" class="img-fluid" alt="" /></li>
					<li><img src="images/brand4.png" class="img-fluid" alt="" /></li>
				</ul>
			</div>
		</div>
		<div class="text-center mt-5 pt-4 copyright">
			<p class="">Copyright &copy; 2018.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
		</p>
		</div>
	</div>
</footer>
<!-- //footer -->

<!-- sign up Modal -->
<div class="modal fade" id="myModal_btn" tabindex="-1" role="dialog" aria-labelledby="myModal_btn" aria-hidden="true">
	<div class="agilemodal-dialog modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Register Now</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body pt-3 pb-5 px-sm-5">
				<div class="row">
					<div class="col-md-6 mx-auto">
						<img src="images/t4.png" class="img-fluid" alt="login_image" />
						<p class="pt-5">Excepteur sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id erat eu ullamcorper. Nunc id ipsum fringilla,
						gravida felis vitae. Phasellus lacinia id, sunt in culpa quis.</p>
					</div>
					<div class="col-md-6">
						<form action="#" method="post">
							<div class="form-group">
								<label for="recipient-name1" class="col-form-label">Your Name</label>
								<input type="text" class="form-control" placeholder=" " name="Name" id="recipient-name1" required="">
							</div>
							<div class="form-group">
								<label for="recipient-email" class="col-form-label">Email</label>
								<input type="email" class="form-control" placeholder=" " name="Email" id="recipient-email" required="">
							</div>
							<div class="form-group">
								<label for="password1" class="col-form-label">Password</label>
								<input type="password" class="form-control" placeholder=" " name="Password" id="password1" required="">
							</div>
							<div class="form-group">
								<label for="password2" class="col-form-label">Confirm Password</label>
								<input type="password" class="form-control" placeholder=" " name="Confirm Password" id="password2" required="">
							</div>
							<div class="sub-w3l">
								<div class="sub-agile">
									<input type="checkbox" id="brand2" value="">
									<label for="brand2" class="mb-3">
										<span></span>I Accept to the Terms & Conditions</label>
								</div>
							</div>
							<div class="right-w3l">
								<input type="submit" class="form-control" value="Register">
							</div>
						</form>
						<p class="text-center mt-3">Already a member?
							<a href="#" data-toggle="modal" data-target="#exampleModal1" class="text-dark login_btn">
								Login Now</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //signup modal -->
<!-- signin Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModal1" aria-hidden="true">
	<div class="agilemodal-dialog modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Login</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body  pt-3 pb-5 px-sm-5">
				<div class="row">
					<div class="col-md-6">
						<img src="images/t3.png" class="img-fluid" alt="login_image" />
						<p class="pt-5">Excepteur sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id erat eu ullamcorper. Nunc id ipsum fringilla,
						gravida felis vitae. Phasellus lacinia id, sunt in culpa quis.</p>
					</div>
					<div class="col-md-6 align-self-center">
						<form action="#" method="post">
							<div class="form-group">
								<label for="recipient-name" class="col-form-label">Your Name</label>
								<input type="text" class="form-control" placeholder=" " name="Name" id="recipient-name" required="">
							</div>
							<div class="form-group">
								<label class="col-form-label">Password</label>
								<input type="password" class="form-control" placeholder=" " name="Password" required="">
							</div>
							<div class="right-w3l">
								<input type="submit" class="form-control" value="Login">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- signin Modal -->

    <!-- js -->
    <script src="js/jquery-2.2.3.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <!-- //js -->

	<script src="js/smoothscroll.js"></script><!-- Smooth scrolling -->

    <!-- start-smoth-scrolling -->
    <script src="js/move-top.js"></script>
    <script src="js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            /*
			var defaults = {
				  containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			 };
			*/

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //end-smoth-scrolling -->

</body>
</html>